{% load static %}
<!DOCTYPE html>
<html lang="es-DO">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 405</title>
    <link rel="stylesheet" href="{% static 'PrestamosTaveras/CSS/405.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap" rel="stylesheet">
</head>
<body>
    <div class="contenedor-error">
        <h1>405 - M&eacute;todo no permitido</h1>
        <p>Lo sentimos, el m&eacute;todo utilizado no est&aacute; permitido en este servidor</p>
    </div>
</body>
</html>