body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.contenedor-error {
    position: relative;
    text-align: center;
    color: #fff;
    margin: auto;
    height: 100%;
    width: 100%;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #2ecc71, #27ae60);
    animation: gradientAnimation 5s ease infinite;
    z-index: -1;
}

.contenedor-texto {
    z-index: 1;
}

h1 {
    font-size: 100px;
    color: #fff;
    margin-bottom: 10px;
    animation: scaleAnimation 2s ease infinite;
}

.mensaje {
    font-size: 24px;
    margin-bottom: 10px;
    opacity: 0;
    animation: fadeIn 2s ease 2s forwards;
}

.informacion {
    font-size: 18px;
    margin-bottom: 20px;
    opacity: 0;
    animation: fadeIn 2s ease 2s forwards;
}

.boton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.boton:hover {
    background-color: #297fb8;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes scaleAnimation {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}