* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
    overflow: hidden;
}

.contenedor-principal {
    align-items: center;
    background-color: #187300;
    color: #a0a5a8;
    display: flex;
    height: 100vh;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    width: 100%;
}

.logo {
    left: 120px;
    position: fixed;
    top: 150px;
}

.logo h1 {
    color: #fff;
    font-size: 32px;
    position: fixed;
    top: 55px;
    left: 130px;
}

.icono-logo {
    height: 280px;
    width: 300px;
}

.enlace-reg {
    background-color: #f9f9f9;
    bottom: 50px;
    border: none;
    border-radius: 20px;
    color: #000;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    height: 36px;
    line-height: 2.3;
    left: 200px;
    position: fixed;
    text-decoration: none;
    text-align: center;
    width: 130px;
}

.manual {
    height: 50px;
    position: absolute;
    top: 2%;
    right: 2%;
    width: 50px;
}

.contenedor-formulario {
    align-items: center;
    background-color: #E7EEE8; 
    display: flex;
    height: 100%;
    justify-content: center;
    left: calc(100% - 800px);
    padding: 25px;
    position: absolute;
    top: 0%;
    transition: 1.25s;
    width: 800px;
    z-index: 100;
}

.titulo-formulario {
    color: #181818;
    font-size: 34px;
    font-weight: 700;
    line-height: 3;
}

.informacion-con {
    color: #000;
    font-size: 13px;
}

.formulario {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.contenedor-input-index {
    margin-top: 20px;
}

.input {
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: inset 2px 2px 4px #d1d9e6;
    height: 40px;
    font-size: 13px;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.15px;
    margin-top: 5px;
    outline: none;
    padding-left: 20px;
    width: 350px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

.boton-mostrar-ocultar {
    position: absolute;
    right: 29%;
    top: 51%;
    cursor: pointer;
    font-size: 18px;
}

.boton-mostrar-ocultar_ {
    position: absolute;
    right: 29%;
    top: 63.3%;
    cursor: pointer;
    font-size: 17px;
}

.boton-mostrar-ocultar__ {
    position: absolute;
    right: 29%;
    top: 70.7%;
    cursor: pointer;
    font-size: 17px;
}

.boton-mostrar-ocultar_rc {
    position: absolute;
    right: 29%;
    top: 46.9%;
    cursor: pointer;
    font-size: 17px;
}

.boton-mostrar-ocultar_rc_ {
    position: absolute;
    right: 29%;
    top: 58%;
    cursor: pointer;
    font-size: 17px;
}

.enlace-olvcon {
    color: #181818;
    font-size: 14px;
    margin-top: 25px;
    line-height: 2;
}

.botones {
    align-items: center;
    display: flex;
    justify-content: center;
}

.enlace-regresar {
    background-color: #187300;
    border-radius: 25px;
    border: none;
    color: #fff;
    cursor: pointer;
    height: 35px;
    font-size: 17px;
    font-weight: 700;
    margin: 40px 10px;
    letter-spacing: 1.15px;
    line-height: 1.9;
    text-align: center;
    text-decoration: none;
    width: 140px;
}

.enlace-regresar:hover, .boton:hover, .boton a:hover {
    background-color: #15FF32;
    color: #000;
}
    
.boton, .boton a {
    background-color: #187300;
    border-radius: 25px;
    border: none;
    color: #fff;
    cursor: pointer;
    height: 35px;
    font-size: 17px;
    font-weight: 700;
    margin: 40px 10px;
    letter-spacing: 1.15px;
    text-decoration: none;
    width: 140px;
}

.boton_ {
    background-color: #187300;
    border-radius: 8px;
    border: none;
    color: #fff;
    cursor: pointer;
    height: 30px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.15px;
    margin: 40px 10px;
    position: absolute;
    bottom: 28.8%;
    right: 27%;
    text-decoration: none;
    width: 50px;
}

.redes {
    align-items: center;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 30px;
}

.icoredso {
    color: #000;
    font-size: 30px;
    margin: 20px;
}

.fa-instagram {
    color: red;
}

.fa-whatsapp {
    color: green;
}
.fa-facebook {
    color: blue;
}

.fa-twitter {
    color: blue;
}

.redes:hover {
    outline-offset: 3px;
    transition: all 0.3s;
}