main {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.cards {
    display: grid;
    gap: 3px;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 100%;
    height: 100vh;
}

.card {
    height: 100%;
    padding: 20px;
}

.card1 {
    background-color: #15FF32;
}

.card2 {
    background-color: #ecf0f0;
}

.usuario {
    font-size: 24px;
    font-weight: 800;
    left: 20%;
    position: fixed;
    top: 20%;
}

.contenedor-tarjeta {
	align-items: center;
	display: flex;
	flex-direction: column;
    height: 100%;
	margin: auto;
    max-width: 600px;
	padding: 195px 0px;
	width: 100%;
}

.tarjeta {
	color: #fff;
	cursor: pointer;
    margin-top: -30px;
    max-width: 420px;
	position: relative;
	transform: rotateY(0deg);
	transform-style: preserve-3d;
	transition: .3s ease all;
	width: 100%;
	z-index: 3;
}

.tarjeta.active {
	transform: rotateY(180deg);
}

.tarjeta > div {
	border-radius: 15px;
	box-shadow: 0 10px 10px 0 rgba(90,116,148,0.3);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 240px;
	padding: 30px;
}

.tarjeta .delantera {
    background: url(../ICONS/background.jpg);
	background-size: cover;
	width: 100%;
}

.p-activo {
    font-size: 16px;
    margin-bottom: 20px;
}

.cantidad-pa {
    color: #15FF32;
    display: flex;
    font-size: 13px;
    margin-left: 1px;
    text-transform: uppercase;
}

.chip {
	max-width: 50px;
    position: fixed;
    top: 9%;
    right: 4%;
	width: 100%;
}

.items-card {
    padding-top: 25px;
}

.monto-c, .cuotas-pa, .total-pa {
    font-size: 14px;
}

.cantidad {
    color: #15FF32;
    display: flex;
    font-size: 12px;
    margin-left: 1px;
    text-transform: uppercase;
}

.logo-tarjeta {
    bottom: 8%;
    max-width: 50px;
    position: fixed;
    right: 4%;
    width: 100%;
}

.trasera {
	backface-visibility: hidden;
	background: url(../ICONS/background.jpg);
    background-size: cover;
    height: 100%;
	position: absolute;
	top: 0;
	transform: rotateY(180deg);
    width: 100%;
}

.trasera .leyenda {
    align-items: center;
    display: flex;
    filter: blur(0.5px);
    flex-direction: column;
    font-size: 16px;
    height: 100%;
    justify-content: center;
    opacity: 0.8;
    width: 100%;
}

.logo-tarjeta-trasera {
    height: 70px;
    margin-bottom: 10px;
    width: 70px;
}

.solicitar {
    color: #000;
    font-size: 15px;
    font-weight: 700;
    margin: 35px 0;
    text-decoration: underline;
    text-transform: uppercase;
    width: max-content;
}

.contenedor-background {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.background-card2 {
    height: 50%;
    margin-top: 80px;
    max-height: 100%;
    max-width: 100%;
    width: 50%; 
}

.solicitar:hover {
    text-decoration: underline double #fff;
}

.titulo-sol-pres {
    color: black;
    font-size: 17px;
    position: fixed;
    right: 14.5%;
    text-decoration: 2px underline solid;
    top: 20%;
}

.informacion-sol-pres {
    font-size: 13px;
    position: relative;
    text-align: center;
    top: 130px;
}

.sol-pres-formulario {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin-top: 40px;
    width: 100%;
}

.input-cc, .input-ct, .input-cce, .input-cd {
    margin-top: 25px;
}

.input-sol-pres, .input-cc, .input-ct, .input-cce, .input-cd {
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: inset 2px 2px 4px #d1d9e6;
    height: 40px;
    font-size: 13px;
    letter-spacing: 0.15px;
    margin-top: 20px;
    outline: none;
    padding-left: 20px;
    width: 350px;
}
  
.input-sol-pres:focus, .input-cc:focus, .input-ct:focus, .input-cce:focus, .input-cd:focus {
    border: 2px solid green;
}

.boton-sol-pres, .boton-cc, .boton-ct, .boton-cce, .boton-cd {
    background-color: #15FF32;
    border: none;
    border-radius: 25px;
    color: #000;
    cursor: pointer;
    height: 35px;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 1.15px;
    position: relative;
    text-decoration: none;
    top: 30px;
    width: 140px;
}

.boton-sol-pres:hover, .boton-cc:hover, .boton-ct:hover, .boton-cce:hover, .boton-cd:hover {
    background-color: #187300;
    color: #fff;
}

.titulo-mis-datos, .titulo-mis-pagos {
    color: black;
    font-size: 18px;
    position: fixed;
    right: 17%;
    text-decoration: 2px underline solid;
    top: 22%;
}

.logo-usuario {
    height: 100px;
    left: 200px;
    position: relative;
    top: 170px;
    width: 100px;
}

.datos-usuario {
    margin: 25px;
    position: relative;
    text-align: center;
    top: 180px;
}

.titulo-datos {
    font-size: 15px;
    font-weight: 700;
}

.datos-bd {
    font-size: 14px;
    font-weight: 500;
}

.titulo-datos, .datos-bd {
    display: block;
    margin: 5px 0;
}

.pagos-realizados {
    background-color: hsl(220, 24%, 12%);
    border: none;
    border-radius: 5px;
    position: relative;
    top: 135px;
    margin-top: 10px;
}

.pagado {
    display: flex;
    justify-content: space-between;
}

.monto-pagado, .titulo-fecha {
    font-size: 14px;
    font-weight: 700;
}

.pago, .fecha {
    font-size: 13px;
    font-weight: 500;
}

.monto-pagado, .titulo-fecha, .pago, .fecha {
    color: #fff;
    margin: 0 40px;
}

.titulo-conf {
    color: black;
    font-size: 17px;
    position: fixed;
    right: 15%;
    text-decoration: 2px underline solid;
    top: 22%;
}

.titulo-config, .formulario-config {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 30%;
}

.enlaces-conf {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 170px;
}

.enlace-cc, .enlace-cce, .enlace-cd, .enlace-ct {
    background-color: hsl(220, 24%, 12%);
    border: none;
    border-radius: 5px;
    box-shadow: inset 1px 1px #15FF32;
    color: #15FF32;
    cursor: pointer;
    height: 35px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.15px;
    margin: 20px;
    padding: 8px;
    text-align: center;
    width: 280px;
}

.enlace-cc:hover, .enlace-cce:hover, .enlace-cd:hover, .enlace-ct:hover {
    background-color: #15FF32;
    box-shadow: inset 1px 1px hsl(220, 24%, 12%);
    color: hsl(220, 24%, 12%);
}

.boton-mostrar-ocultar, .boton-mostrar-ocultar_, .boton-mostrar-ocultar__ {
    cursor: pointer;
    font-size: 17px;
    position: fixed;
    top: 40%;
    right: 8%;
}

.boton-mostrar-ocultar_ {
    top: 50%;
}

.boton-mostrar-ocultar__ {
    top: 60%;
}