.alert {
    border: 1px solid transparent;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    padding: 0.75rem 1.25rem;
}

.alert-index {
    border: 1px solid transparent;
    border-radius: 0.25rem;
    padding: 0.75rem 1.25rem;
    position: absolute;
    top: 10%;
}

.ipres {
    margin-top: 1.3rem;
    height: min-content;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert span {
    font-size: 12px;
    font-weight: 600;
}