* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    align-items: center;
    background-color: #187300;
    color: #a0a5a8;
    display: flex;
    height: 100vh;
    justify-content: center;
    font-size: 12px;
    width: 100%;
}

.logo {
    left: 120px;
    position: fixed;
    top: 150px;
}

.logo h1 {
    color: #fff;
    font-size: 32px;
    position: fixed;
    top: 55px;
    left: 130px;
}

.icono-logo {
    height: 280px;
    width: 300px;
}

.enlace-reg {
    background-color: #f9f9f9;
    bottom: 50px;
    border: none;
    border-radius: 20px;
    color: #000;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    height: 36px;
    line-height: 2.3;
    left: 200px;
    position: fixed;
    text-decoration: none;
    text-align: center;
    width: 130px;
}

.titulo-formulario {
    color: #181818;
    font-size: 24px;
    font-weight: 600;
    line-height: 3;
    position: fixed;
    top: 20%;
}

.contenedor-formulario {
    align-items: center;
    background-color: #E7EEE8; 
    display: flex;
    height: 100%;
    justify-content: center;
    left: calc(100% - 800px );
    padding: 25px;
    position: absolute;
    top: 0;
    transition: 1.25s;
    width: 800px;
    z-index: 100;
}

.contenedor-opt {
    width: 300px;
    height: auto;
    padding: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.formulario-opt {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.input-field {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.input-field .otp {
    background-color: #E7EEE8;
    border: none;
    border-radius: 8px;
    height: 40px;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 0.15px;
    text-align: center;
    width: 70%;
}

.input-field .otp::-webkit-inner-spin-button,
.input-field .otp::-webkit-outer-spin-button {
    display: none;
}

.input-field .otp:focus {
    outline: 1.5px solid green;
    outline-offset: 2px;
}

.boton-verificar {
    margin-top: 25px;
    width: 92%;
    color: #000;
    font-size: 16px;
    padding: 10px;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background: #15FF32;
    transition: all 0.2s ease;
    text-align: center;
    text-decoration: none;
}

.boton-verificar:hover {
    background: #187300;
    color: #fff;
}